# Python | day 1 | variables

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

### Exercise 1.

1. Write a python comment saying _'My very first python code:'_

In [ ]:
# My very first python code:

2. Declare a **first name** variable and assign a value to it

In [ ]:
first_name = "Ariadna"

3. Declare a **last name** variable and assign a value to it

In [ ]:
last_name = 'Puigventós'

4. Declare a **full name** variable and assign a value to it

In [ ]:
full_name = 'Ariadna Puigventós'

5. Declare a **country** variable and assign a value to it

In [ ]:
country = 'Honolulu'

6. Declare a **city** variable and assign a value to it

In [ ]:
city = 'New York'

7. Declare an **age** variable and assign a value to it

In [ ]:
age = 34

8. Declare a **year** variable and assign a value to it

In [ ]:
year = 1986

9. Declare a variable **is_married** and assign a value to it

In [ ]:
is_married = 'nop'

10. Declare a variable **is_true** and assign a value to it

In [ ]:
is_true = 5

11. Declare a variable **is_light_on** and assign a value to it

In [ ]:
is_light_on = 2

## Exercise 2. 

1. Check the data type of all your variables using `type()` built-in function

In [ ]:
#Intento1

Print(type(first_name, last_name, full_name, country, city, age, year, is_married, is_true, is_light_on))

#Intento1.1

Print(type(first_name + last_name + full_name + country + city + age + year + is_married + is_true + is_light_on))

#Intento2

Type(first_name)

#Intento3

Print(type(first_name))

Turn the variable **age**, which should be *integer*, into type *float*. This action is known as cast a variable.

In [ ]:
#Intento4
type(first_name)
type(last_name)
type(full_name)
type(country)
type(city)
type(age)
type(year)
type(is_married)
type(is_true)
type(is_light_on)

2. Using the `len()` built-in function find the length of your first name

In [49]:
len(first_name)

7

3. Compare the length of your first name and your last name

In [48]:
len(last_name)

10

In [50]:
first_name==last_name

False

In [52]:
i = "comparado con"
print(len (first_name), i, (len (last_name)))

7 comparado con 10

4. Declare 5 as **num_one** and 4 as **num_two**

In [53]:
num_one = 5
num_two = 4

5. Add **num_one** and **num_two** and assign the value to a variable **_total**

In [54]:
#Intento1
variable_total = num_two.add(num_one)

AttributeError: 'int' object has no attribute 'add'

In [57]:
#Intento2

variable_total = num_one + num_two
print(variable_total)

9

6. Subtract num_two from num_one and assign the value to a variable _diff

In [58]:
#Intento1
variable_diff = num_two - num_one
print(variable_diff)

-1

7. Multiply **num_two** and **num_one** and assign the value to a variable **_product**

In [61]:
#Intento1

variable_product = num_two * num_one
print(variable_product)

20

8. Divide **num_one** by **num_two** and assign the value to a variable **_division**

In [62]:
#Intento1 con división absoluta

variable_division = num_one // num_two
print(variable_division)

1

9. Use modulus division to find **num_two** divided by **num_one** and assign the value to a variable **_remainder**

In [69]:
#Intento2 después de encontrar "ORO"

variable_remainder = num_two % num_one
print(variable_remainder)

4

In [63]:
#Intento1

variable_remainder = num_two / num_one
print(variable_remainder)

0.8

In [64]:
type(variable_remainder)

float

In [68]:
print(int(variable_remainder))

0

10. Calculate **num_one** to the power of **num_two** and assign the value to variable **_exp**

In [70]:
#Intento1

variable_exp = num_one ** num_two
print(variable_exp)

625

11. Find floor division of **num_one** by **num_two** and assign the value to a variable **_floor_division**

In [71]:
#Intento1

variable_floor_division = num_one // num_two
print(variable_floor_division)

1

## Bonus track.

12. The radius of a circle is 30 meters. 
    Calculate the area of a circle and assign the value to a variable **area_of_circle**

In [72]:
#Intento1 he hallado la fórmula del área de un círculo

radius = 30
area_of_circle = 3.14 * (radius ** 2)
print(area_of_circle)

2826.0

13. Calculate the circumference of a circle and assign the value to a variable **circum_of_circle**

In [73]:
#Intento1 he hallado la fórmula de la circumferencia de un círculo. Es una equación en la cuál X es circumferencia dividido por el diámetro para obtener el núm. PI 3.14
x = circumferencia
diametro = radius * 2
pi = 3.14

x = 3.14 * (radius * 2)
print(x)

NameError: name 'circumferencia' is not defined

In [76]:
#Intento2 la misma lógica pero cambiando la X ya que le dado dos valores distintos

diametro = radius * 2
pi = 3.14

x = pi * (radius * 2)
print(x)

188.4

14. Take radius as user input and calculate the area.

15. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

In [80]:
#Intento3
first_name = ('What is your name: ')
last_name = 'What is your surname: '
country = 'Where are you from: '
age = 'How old are you?: '

first_name = input ('What is your name: ')
last_name = input ('What is your surname: ')
country = input ('Where are you from: ')
age = input ('How old are you?: ')

print(first_name, last_name, country, age)

16. What is a reserved word in Python? Run `help('keywords')` to check for the reserved words.

In [ ]:
# Son las marcadas por el lenguaje propio de Python, las que usa el interprete para ejecutar las funciones que le decimos. Normalmente son como print, del, elif, etc.

**Well done!**

![h](https://i.pinimg.com/originals/11/b4/20/11b420fbf1595be3056ad6355277933c.jpg)

In [ ]:
x = "trick or "
y = "treat"
googling = x + y
print(googling)