# Python | day 2 | collections

List, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp
    
    Thanks Antonio!

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 
    - 4 differents lists containing the names of the classmates sitting on each table of the class plus the ones following the class on remote.  
    
If you're not in class anymore and you don't remember how the class was distributed, use the names of your classmates and make 4 different lists with them.

Print both created lists.

### Exercise 2

1. Create an empty list, call it **empty_list**

In [61]:
#Intento1
empty_list = []
Print(empty_list)

NameError: name 'Print' is not defined

In [4]:
#Intento2

empty_list = list()
list()

[]

In [21]:
#Intento1
my_list = ["New York", 8, "Joe Cocker", True, ["19 de agosto", 2017, 2020]]
my_list

['New York', 8, 'Joe Cocker', True, ['19 de agosto', 2017, 2020]]

3. Find the length of **my_list**

In [9]:
#Intento1
len(my_list)

5

In [23]:
#Intento1.1
len(my_list[0:-1])
print(len(my_list[0:-1]))

#Intento1.2
len(my_list[0:-1][4:-1])
print(len(my_list[0:-1][4:-1]))

#Intento1.3
len(my_list[0:-1][0:-1])
print(len(my_list[0:-1][0:-1]))

#Intento1.4
print(len(my_list[0:-1][0:-1]))
suma = (my_list[0:-1][0:-1])
print(suma)

4
0
3
3
['New York', 8, 'Joe Cocker']

4. Get the first item, the middle item and the last item of **my_list**

In [22]:
#Intento1
first_item = my_list[0]
print(first_item)

middle_item = my_list[3]
print(middle_item)

last_item = my_list[4][2]
print(last_item)

New York
True
2020

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [27]:
#Intento1

name = "Regina Falange"
print(name)

age = 33
print(age)

height = "160 cm"
print(height)

country = "Albania 666"
print(country)

python_version = 3.9
print(python_version)

Regina Falange
33
160 cm
Albania 666
3.9

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [38]:
#intento1
mixed_data_types = [name, age, height, country, python_version]
print(mixed_data_types)

#intento2
type(name, age, height) 
print(type)
 
type(country, python_version)
print(type)

['Regina Falange', 33, '160 cm', 'Albania 666', 3.9]

TypeError: type.__new__() argument 2 must be tuple, not int

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [42]:
#Intento1

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

print('Facebook: ', it_companies[0])
print('Google: ', it_companies[1])
print('Microsoft: ', it_companies[2])
print('Apple: ', it_companies[3])
print('IBM: ', it_companies[4])
print('Oracle: ', it_companies[5])
print('Amazon: ', it_companies[6])

Facebook:  Facebook
Google:  Google
Microsoft:  Microsoft
Apple:  Apple
IBM:  IBM
Oracle:  Oracle
Amazon:  Amazon


8. Print **it_companies** using print()

In [43]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [44]:
#intento1
len(it_companies)

7

11. Print *Google*

In [45]:
print(it_companies[1])

Google

10. Print the first, middle and last company

In [46]:
first_item = it_companies[0]
print(first_item)

middle_item = it_companies[3]
print(middle_item)

last_item = it_companies[-1]
print(last_item)

Facebook
Apple
Amazon

11. Assign a new value to the last element of the list

In [59]:
#Intento MIL

it_companies.reverse()
Print(it_companies)

NameError: name 'Print' is not defined

12. Print the list after modifying one of the companies

In [64]:
#Intento1

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

it_companies[0] = 'Instagram'
print(it_companies[0])
print(it_companies)

Instagram
['Instagram', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

## Bonus track.

13. Add an IT company to **it_companies**

In [68]:
#Intento3

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies.append("IT")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT']

14. Check if *Apple* exists in the **it_companies** list.

In [70]:
#Intento1

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

if (it_companies[3] == "Apple")
    print("Apple exists in the it_companies list")
else:
    print("Apple not exist in the it_companies list")

SyntaxError: invalid syntax (<ipython-input-70-84f6a5562dba>, line 5)

In [73]:
#Intento3

it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

if "Apple" in it_companies:
    print("Apple exists in the it_companies list")
else:
    print("Apple not exist in the it_companies list")

Apple exists in the it_companies list

15. Sort the list using `sort()` method

In [88]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

it_companies.sort([:-1])

SyntaxError: invalid syntax (<ipython-input-88-94c7d03459cc>, line 3)

16. Reverse the list in descending order using `reverse()` method

In [77]:
it_companies.reverse()
print(it_companies.reverse())

None

17. Slice out the first 3 companies from the list

In [90]:
print(it_companies[0:3])

['Facebook', 'Google', 'Microsoft']

18. Remove the last IT company from the list

In [92]:
#Intento1
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT']

it_companies.remove("IT")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

19. Remove all IT companies from the list

In [93]:
#Intento1
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'IT']

it_companies.remove("IT")
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [94]:
#Intento1

front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

end = front_end + back_end
print(end)

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [96]:
#Intento1

end = "HTML"
print(end)

HTML

22. From the end list print the 'C' from the word 'CSS'

In [102]:
end = [['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

print(end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [104]:
tup = ("T,")
print(tup)

T,

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [109]:
print(type(tup))

<class 'str'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [116]:
tup = ("T,")
tup_2 = ["H", "E", " ", "B", "R", "I", "D", "G", "E",]
tup_2.append(tup)
print(tup_2)

fruits.insert(2, 'apple')

['H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E', 'T,']

In [122]:
#Intento 6!!!!

name_real = ['H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E', 'T,']

name_real.insert(0, "T,")
print(name_real)

myString = "".join(name_real)
print(myString)

['T,', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E', 'T,']
T,HE BRIDGET,

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [123]:
tup = ("T", "H", "E", " ", "B", "R", "I", "D", "G", "E",)
tup = ("THE BRIDGE")
print(tup)

THE BRIDGE

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [14]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [124]:
#intento1

lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

my_set = set(lista_repes)
print(my_set)

{'clara', 'data', 'science', 'gabriel', 'diomedes', 'python'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [125]:
my_set = {'clara', 'data', 'science', 'gabriel', 'diomedes', 'python'}

print(my_set[0])

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [130]:
#Intento5

my_set = {'clara', 'data', 'science', 'gabriel', 'diomedes', 'python'}
my_set = list
print(list[0])

list[0]