In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/ariadnapuigventos/Documents/CURSOS/BRIDGE/DS_Ejercicios_Python/BootCamp_TheBridge/Proyecto_Navidad_Ariadna/documentation/world_marathon_majors.csv", sep= ";")
df

     year           winner  gender        country      time marathon
0    2014   Dennis Kimetto    Male          Kenya  02:02:57   Berlin
1    2011   Geoffrey Mutai    Male          Kenya  02:03:02   Boston
2    2016  Kenenisa Bekele    Male       Ethiopia  02:03:03   Berlin
3    2016   Eliud Kipchoge    Male          Kenya  02:03:05   London
4    2013   Wilson Kipsang    Male          Kenya  02:03:23   Berlin
..    ...              ...     ...            ...       ...      ...
531  1966       Bobbi Gibb  Female  United States  03:21:40   Boston
532  1974  Jutta von Haase  Female        Germany  03:22:01   Berlin
533  1969  Sara Mae Berman  Female  United States  03:22:46   Boston
534  1967       Bobbi Gibb  Female  United States  03:27:17   Boston
535  1968       Bobbi Gibb  Female  United States  03:30:00   Boston

[536 rows x 6 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()
df["encoded_country"] = le.fit_transform(df["country"])
print(df["encoded_country"])
df["encoded_marathon"] = le.fit_transform(df["marathon"])
df["encoded_marathon"]

0      17
1      17
2       8
3      17
4      17
       ..
531    35
532    10
533    35
534    35
535    35
Name: encoded_country, Length: 536, dtype: int64

0      0
1      1
2      0
3      3
4      0
      ..
531    1
532    0
533    1
534    1
535    1
Name: encoded_marathon, Length: 536, dtype: int64